@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

html, body, #root{
    padding: 0px;
    margin: 0px;
    height:100vh;
    overflow-y: hidden;
}

.app{
    height:90%;
}

.container{
    height:100%;
    padding-top: 16px;
}

.navbar .container{
    padding-top: 0px;
}

.row{
    margin-bottom: 16px;
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.btn {
    white-space: nowrap;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(rgba(theme-color-level($color, -10), .85), rgba(theme-color-level($color, -9), .1), theme-color-level($color, 6));
  }
}

.alert{
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}


.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

th {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
}

th:after,
th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

th:before {
    top: -1px;
    border-top: 1px solid #dee2e6;
}

th:after {
    bottom: -2px;
    border-bottom: 2px solid #dee2e6;
}

th, td {
    white-space: nowrap;
}