@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

html, body, #root{
    padding: 0px;
    margin: 0px;
    height:100vh;
    overflow-y: hidden;
}

.MuiIconButton-label, .MuiButton-label {
    pointer-events: none;
}